pkgbase = cpool
	pkgdesc = Card pool generator for trading card game formats
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/piers-sinclair/cardpool
	arch = x86_64
	license = MIT
	source_x86_64 = cpool-1.2.1.zip::https://github.com/piers-sinclair/cardpool/releases/download/v1.2.1/cpool-linux-x64.zip
	sha256sums_x86_64 = 0000000000000000000000000000000000000000000000000000000000000000

pkgname = cpool
